* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
    background: url("../images/bg_image.jpg") center no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 10%;
    color: #ffffff;
    text-transform: uppercase;
}


/* CARDS CONTAINER */
.cards-container {
    width: 90%;
    padding: 5%;
    display: grid;
    margin: 5% auto;
    border-radius: 5px;
	backdrop-filter: blur(5px);
	background: rgba(255,255,255,0.1);
	box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
}

.cards-container .card {
}