* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 40px;
    min-height: 100vh;
    text-align: center;
    font-family: sans-serif;
    background: url("../images/bg_image.jpg") center no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 5%;
    color: #ffffff;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}


/* CARDS CONTAINER */
.cards-container {
    width: 95%;
    padding: 2.5%;
    display: flex;
    flex-wrap: wrap;
    margin: 2.5% auto;
    grid: repeat(3, 500px);
    align-items: flex-start;
	backdrop-filter: blur(5px);
	background: rgba(255,255,255,0.1);
	box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
}

.cards-container .card {
    width: 500px;
    padding: 20px;
    margin: 50px auto;
    color: #ffffff;
    text-align: left;
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
    background: linear-gradient(90deg, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0.01) 50%);
}

.cards-container .card img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cards-container .card .card-details h2 {
    font-size: 35px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.cards-container .card .card-details h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.cards-container .card .card-details p {
    font-size: 18px;
}

.cards-container .card .card-details .btns-container {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.cards-container .card .card-details .btns-container button{
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    background: #ffffff;
}   

.cards-container .card .card-details .btns-container button a {
    font-size: 15px;
    color: #777777;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}